<div class="footer">
	<div class="footer-top">
		<img src="../../img/footer_logo.gif" />
		<ul>
			<li><a href="script:;">公司介绍</a></li>
			<li><a href="script:;">使用条款</a></li>
			<li><a href="script:;">隐私政策</a></li>
			<li><a href="script:;">注册声明</a></li>
		</ul>
		<a class="map" href="http://www.mamonde.com/cn/zh/sitemap.html">网站地图</a>
	</div>
	<div class="footer-center">
		<div class="footer-center-top">
			<span>客户服务中心</span>
			<ul>
				<li>联系我们  400-820-5083</li>
				<li><a href="script:;">常见问题</a></li>
				<li><a href="script:;">1:1 顾客商谈</a></li>
				<li><a href="script:;">邮箱地址 mamonde@mamande.com.cn</a></li>
			</ul>
		</div>
	
	<div class="footer-center-bottom">
		<span>会员俱乐部</span>
		<a href="script:;">加入会员</a>
	</div>
	</div>
	<div class="footer-bottom">	
		<div class="footer-bottom-top">
		
		<img src="../../img/footer_ap.gif" />		
		<p class="address">
			ⓒ2016 AMOREPACIFIC CORPORATION, ALL RIGHTS RESERVED  爱茉莉太平洋贸易有限公司<br/>
			地址：上海市石门一路288号兴业太古汇香港兴业中心一座7楼 &nbsp;&nbsp; 电话：021-23290666
		</p>
		</div>
		<p class="icp">
			<a href=""><img src="../../img/ga.png" /></a>
			<a href="">沪ICP备11011083号-21</a>
		</p>
		
		<span class="weibo"></span>
		<span class="weixin"></span>
		<span class="youku"></span>
		<span class="erwm"></span>
		
	</div>
	
	
</div>
