<!--header复用HTML-->
<div id="head">
	<div class="head-top">		
	</div>
	<div class="wrap">
	
	<div class="box1">
		<h1></h1>
		<ul>
		<li><a href="jacascript:;" title="登陆">登陆</a></li>
		<li><a href="jacascript:;" title="注册">注册</a></li>
		<li><a href="jacascript:;">客户服务中心</a></li>
		</ul>
	</div>
	<div class="box2">
		<nav>
		<ul class="_nav">
			<li><a href="script:;"><img src="../../img/bj.png"/><span>快速购物</span></a></li>
			<li><a href="script:;">气垫BB</a></li>
			<li><a href="script:;">星品/新品</a></li>
			<li><a href="script:;">产品系列</a></li>
			<li><a href="script:;">官网礼遇</a></li>
			<li><a href="script:;">梦享套装</a></li>
			<li><a href="script:;">动态</a></li>
			<li><a href="script:;">品牌故事</a></li>
			<li><a href="script:;">梦妆花园</a></li>
		</ul>		
		
		</nav>
		
		<div class="box2-right">
			<input class="txt" type="text" value="" style="border-bottom: 2px solid black;"/>
			<input class="btn" type="button" />							
			<p id="cars">
				<span calss="number">0</span>
			</p>
		</div>
				
	</div>
	<!--hover显示的ul-->
		<ul class="bb acbb">
			<li><a href="script:;">快速购物</a></li>
			<li><a href="script:;">气垫BB</a></li>
			<li><a href="script:;">星品/新品</a></li>
			
		</ul>
		<ul class="new acnew">
			<li><a href="script:;">快速购物</a></li>
			<li><a href="script:;">气垫BB</a></li>
			<li><a href="script:;">星品/新品</a></li>
			
		</ul>
		<ul class="product acproduct">
			<li><a href="script:;">快速购物</a></li>
			<li><a href="script:;">气垫BB</a></li>
			<li><a href="script:;">星品/新品</a></li>
			
		</ul>
	</div>
</div>